body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: url("floral.jpeg") no-repeat fixed bottom;
  background-size: 70%;
}

.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}

h1{
  font-size: 3em;
  letter-spacing: 3px;
}

p{
  letter-spacing: 1.5px;
}

.wrapper{
  display:flex;
  align-items: center;
  height: 50%;
  flex-direction: column;
}

li{
  letter-spacing: 1.5px;
  line-height: 2em;
}

button {
  margin-left: 5px;
}
